body {
    margin: 0;
    padding: 0;
    background-color: hsl(242, 43%, 12%, 75);
    height: 500vh;
    font-family: Montserrat, 'Playfair Display', sans-serif;
    
}

@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Playfair Display;
    src: url(Fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

/* Navbar section */

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    background: transparent;
}

.custom-navbar a {
    color: #F0F4FF;
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.custom-navbar .nav-link:hover {
    color: #4169E1;
}

 .custom-navbar .nav-link.active{
    color: #4169E1 !important;
}

.navbar {
    transition: all 0.5s ease;
}

.navbar-scrolled {
    background-color: hsl(242, 43%, 12%, 75);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;
}

 /* make the gradient cover the whole screen */
    .cursor-gradient {
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      pointer-events: none; /* so it never blocks clicks */
      background: radial-gradient(
         circle 200px at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(65,105,225,0.8) 0%,
        transparent 100%
      );
      filter: blur(120px);
      transition: background-position 0.1s ease-out;
    }

    /* Scroll down indicator */
.scroll-downs {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0%;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 4px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(10px); opacity: 0;}
}

.hero {
  padding-top: 6rem;
  margin-bottom: 6rem;
  min-height: calc(100vh - 6rem);
  position: relative;
  overflow: hidden;
}

.hero .title {
  color: #4169E1;
}

.hero .greet {
  color: #4169E1;
}

.hero .desc, p {
  color: #828FB6;
}

.role {
  color: #4169E1;
}

.downloadBtn {
  background: linear-gradient(to right, #532080, #4169E1);
  background-size: 200% 100%;
  background-position: left center;
  color: #F0F4FF;
  font-size: 20px;
  border: none;
  font-weight: 600;
  transition: background-position 0.3s ease-in-out;
}

.downloadBtn:hover {
  background-position: right center;
}

/* About section */
.about-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.left-part {
  position: relative;
}

.left-part img {
  width: 300px;
  height: 300px;
    box-shadow:
    0 0 40px rgba(65,105,225,0.6),   /* soft blue halo */
    0 0 90px rgba(65,105,225,0.4);   /* extended glow */
}

.left-part a{
  color: #828fb6;
}

.left-part a:hover {
  color: #4169E1;
}

.right-part p{
  font-size: 16px;
  font-weight: 500;
}

.about-header {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.about-header h1 {
    color: #F0F4FF;
}

.about-header p {
    color: #828FB6;
}


.social-links {
  position: absolute;
  bottom: -14%;         /* or top: X, right: Y, etc. */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
}


/* timeline section */
.timeline-section {
  margin-top: 120px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  padding: 10px 0px;
}

.timeline .container {
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

.timeline .container:nth-child(1) {
  animation-delay: 0s;
}

.timeline .container:nth-child(2) {
  animation-delay: 1s;
}
.timeline .container:nth-child(3) {
  animation-delay: 2s;
}


/* .timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  background: rgb(65, 105, 225, 0.25);
  border-bottom: 3px solid #D9D9D9;
  border-radius: 5px;
} */

.timeline-header h1 {
    color: #F0F4FF;
}

.timeline-header p {
    color: #828FB6;
}

.timeline p {
    color: #828FB6;
} 

.text-box {
  margin: 20px 50px;
  padding: 20px 30px;
  position: relative;
  width: 40%;
  background: rgb(65, 105, 225, 0.25);
  border-bottom: 3px solid #D9D9D9;
  border-radius: 5px;
}

.text-box h5 {
  color: #F0F4FF;
  font-size: 20px;
}

.text-box p, pre{
  color: #828FB6;
  font-size: 16px;
}

.left-container {
  position: relative; 
  left: 0;
  margin-top: 40px;
}

.right-container {
  position: relative; 
  left: 0;
  margin-top: 40px;
}

.right-container .text-box {
  left: 51%;
}

.tl-container img {
  position: absolute;
  width: 64px;
  border-radius: 50%;
  right: -100px;
  top: 0px;
  z-index: 10;
}

.right-container img {
  left: -94px;
}

.timeline::after {
  justify-content: center;
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #F0F4FF;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
  
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15.5px solid  rgb(65, 105, 225, 0.25);
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15.5px solid  rgb(65, 105, 225, 0.25);
  left: -15px;
}

/* WORK SECTION */
.work-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.content {
  padding: 60px 0;
}

.content h1 {
  color: #4169E1;
  text-align: center;
  margin-bottom: 50px;
}

.content p {
  color: #828FB6;
}

/* Certification section */
.cert-section {
  margin-top: 120px;
  padding: 0;
  box-sizing: border-box;
  
}

.cert-header {
  margin-bottom: 120px;
}

.cert-header h1 {
    color: #F0F4FF;
}

.cert-header p {
    color: #828FB6;
}

.card-wrapper {
  max-width: 1170px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper .btn-location {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}


.card-item {
  gap: 20px;
  background: rgb(65, 105, 225, 0.20);
  padding: 20px 20px;
  border: 1px solid hsla(225, 27%, 61%, 0.25);
  border-radius: 10px;
  transition: 0.2s ease;
  list-style: none;
  max-width: 340px;

}

.card-item:hover {
    box-shadow:
    0 0 40px hsla(225, 73%, 57%, 0.2),   /* soft blue halo */
    0 0 90px rgba(65,105,225,0.1);   /* extended glow */
    border: 1px solid hsla(225, 27%, 61%, 0.75);
}

.card-link h2{
  color: #F0F4FF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.card-link p{
  padding: 0%;
  color: #828FB6;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 500;
}

.card-link pre{
  color: #F0F4FF;
  font-size: 16px;
  font-weight: 500;
}




.card-list .card-item .card-link {
  width: 300px;
  display: block;
  text-decoration: none;
  margin-bottom: 60px;
  user-select: none;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-link .card-image {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: block;
}

.learnBtn {
  background: linear-gradient(to right, #532080, #4169E1);
  background-size: 100% 100%;
  background-position: left center;
  color: #F0F4FF;
  font-size: 20px;
  border: none;
  font-weight: 600;
  transition:  0.3s ease;
}

.learnBtn:hover {
  color: #ffffff;
   background: linear-gradient(to right, hsla(272, 60%, 31%, 0.75), hsla(225, 73%, 57%, 0.75));
   box-shadow:
    0 10px 10px hsla(225, 73%, 57%, 0.1); 
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background-color: #4169E1;
}

.card-wrapper .swiper-pagination-bullet:active {
  opacity: 1;
}

/* Technical Skills Section */
.skill-section {
  margin-top: 120px;
}

.skill-header {
  margin-bottom: 60px;
}

.skill-header h1 {
    color: #F0F4FF;
}

.skill-header p {
    color: #828FB6;
}


.tech-column h2, p {
  color: #F0F4FF;
}

.tech-stack {
  margin-bottom: 10px;
}

.language-icon{
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

/* Projects section */
.project-section {
  margin-top: 120px;
}

.project-card{
  background: rgb(65, 105, 225, 0.25);
  border-radius: 10px;
}

.project-card:hover{
    border: 1px solid hsla(225, 27%, 61%, 0.75);
}

#card-container {
  perspective: 1000px;
}

.project-card img{
  padding: 16px 16px 0px 16px;
}

#card-layer {
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
}

.card-row {
  margin: 20px 0px;;
}

.card-body h5{
  color: #F0F4FF;
  font-size: 20px;
  font-weight: bold;
}

.card-body h6 {
  color: #828FB6;
  font-size: 16px;
  font-weight: 500;
}

.card-body span {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: #828FB6;
  background: rgb(65, 105, 225, 0.25);
  border: 1px solid rgb(65, 105, 225, 0.75);
}

.card-body p {
  color: #828FB6;
  font-size: 14px;
  font-weight: 500;
}

.buttons a{
  color: #828FB6;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

.buttons i{
  margin-left: 4px;
}


.buttons a:hover {
  background-color: #4169E1;
  color: #F0F4FF;
}

/* Contact Section */

.contact-section {
  margin-top: 120px;;
}

.social-card {
  padding-top: 20px;
  background: #4169e140;
  margin-bottom: 20px;
}

.social-card:hover {
  border: 1px solid hsla(225, 27%, 61%, 0.75);
}

.social-card .email {
  font-size: 40px;
  color: #828FB6;
}

.social-card a{
 color: #828FB6;
}

.form-column label{
  color: #F0F4FF;
  font-size: 16px;
  font-weight: 500;
}

.form-column h5 {
  color: #F0F4FF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

.form-control {
  background: transparent ;
  border: 1px solid rgb(65, 105, 225, 0.75);
  padding: 16px 16px;
  font-size: 16px;
  color: #828FB6;
  font-weight: 500;
}

.form-control:focus {
  border-color: #4169E1;
  box-shadow: 0 0 0 2px rgba(65, 105, 225, 0.25);
  background: transparent;
    color: #F0F4FF;
    font-size: 16px;
    font-weight: 500;
}

.contact-buttons {
  width: 70%;
  background: linear-gradient(to right, #532080, #4169E1);
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-position 0.3s ease-in-out;
  color: #F0F4FF;
  border: none;
}

.contact-buttons:hover {
  background-position: right center;
  color: #F0F4FF;
  background: linear-gradient(to right, hsl(272, 48%, 34%), hsl(225, 76%, 63%));
}

.footer-section {
  margin-top: 68px;
  padding-bottom: 20px;
}

.footer-section p {
  color: #828FB6;
  font-size: 14px;
  font-weight: 500;
}








@media screen and (min-width: 600px) and (max-width: 768px) {
  .timeline{
    margin: 50px auto;
  }

  .timeline::after{
    left: 54px;
  }

  .timeline .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
    width: 100%;
    margin: 20px 0;
    padding: 20px 15px;
  }

  .left-container, .right-container {
    width: 100%;
    left: 0;
    margin-top: 20px;
  }

  .right-container {
    left: -41%;
  }

  .left-container img, .right-container img {
    left: -70px; 
    width: 40px;
    top: 14px;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid rgb(65, 105, 225, 0.25);
    border-left: 0;
    left: -15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .timeline .container {
    width: 50%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
    width: 100%;
    margin: 20px 0;
    padding: 20px 15px;
  }

  .left-container {
    width: 40%;
    left: -30.4%;
    margin-top: 20px;
  }

  .right-container {
    width: 40%;
    left: 4%;
    margin-top: 20px;
  }
  .left-container img, .right-container img {
    width: 40px;
    top: 14px;
  }
  
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .timeline .container {
    width: 50%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
    width: 100%;
    margin: 20px 0;
    padding: 20px 15px;
  }

  .left-container {
    width: 40%;
    left: -29.7%;
    margin-top: 20px;
  }

  .right-container {
    width: 40%;
    left:  3.4%;
    margin-top: 20px;
  }
  .left-container img, .right-container img {
    width: 40px;
    top: 14px;
  }
  
}




